.Subscriptions {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.Subscriptions:first-child {
    margin-top: 2rem;
}

.Subscriptions:last-child {
    margin-bottom: 2rem;
}

.Title {
    color: #fff;
    font-size: 2rem;
}

.Movies {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    flex-wrap: nowrap;
    overflow-x: auto;
}