.Card {
    display: flex;
    flex-direction: column;
}
.Card:hover {
    cursor: pointer;
}

.Image {
    max-width: 12.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.Title {
    color: #e9eaea;
}

.Genre {
    color: #565757;
}