.Content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    gap: 1rem;
    padding: 6vw;
}

.Title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.Badges {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.Trailer {
    display: flex;
}

@media (max-width: 599px) {
    .Trailer {
        margin-left: -6vw;
        margin-right: -6vw;
    }
}

.Trailer iframe {
    border: none;
    width: 100%;
    aspect-ratio: 16/9;
}